@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    /* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --card-color: #eee4dc;
}

html {
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Poppins';
    background: rgb(46, 44, 41);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    /* background-image: url('img/BackGrounds/test2.jpg'); */
    /* background-size: cover; */
}


section {
    height: 100vh;
    width: 100vw;
    flex: 1;
    /* margin-top: 300px; */

}

.slider-container {
    height: 100vh;
    top: 70px;
    /* width: 100vw; */
    /* top: 50px; */
    /* margin-top: 300px; */
    /* background-image: url('img/landscape.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
.slider-container .headers {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 2rem;
    border-radius: 10px;
    border-style: double;
    color: white;
    padding: 10px 20px;
    /* background: rgba(56, 56, 56, 0.274); */
    background: rgba(131, 122, 122, 0.685);
    backdrop-filter: blur(7px);
    z-index: 1000;
}


.slider-images {
    display: flex;
    align-items: center;
    gap: 21px;
}

.slider-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 6px; */
}

.slider-img {
    width: 110px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    transition: 0.7s ease;
}

.slider-images .slider-img:first-child,
.slider-images .slider-img:last-child {
    height: 480px;
}

.slider-images .slider-img:nth-child(2),
.slider-images .slider-img:nth-child(6) {
    height: 560px;
}

.slider-images .slider-img:nth-child(3),
.slider-images .slider-img:nth-child(4),
.slider-images .slider-img:nth-child(5) {
    height: 665px;
}

.slider-images h1 {
    font-family: "Jost", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: rotate(270deg);
    transition: 0.7s ease;
}


.details {
    position: absolute;
    bottom: 43px;
    left: 43px;
}

.details h2 {
    font-family: "Jost", sans-serif;
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    line-height: 44px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    transition: 0.7s ease;
    display: none;
}

.details p {
    font-family: "Jost", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    line-height: 33px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    transition: 0.7s ease;
    display: none;
}

.slider-img.active {
    width: 766px !important;
    height: 750px !important;
}

.slider-img.active h1 {
    display: none;
}

.slider-img.active .details p,
.slider-img.active .details h2 {
    display: block;
}

/* .navbar {

    position: fixed;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background: rgba(56, 56, 56, 0.274);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

 .navbar a {
    color: white;
}

.navbar a:active {
    color: #cc9d1a;
}

.navbar .logo {
    font-size: 2em;
    font-weight: bold;
}

.logo {
    filter: invert(100%);
    width: 200px;
}

.logo:hover {
    filter: invert(73%) sepia(79%) saturate(683%) hue-rotate(359deg) brightness(102%) contrast(109%);
}

.navbar .navlinks ul {
    display: flex;
}

.navbar .navlinks ul li {
    display: inline;
    margin: 0 25px;
}

.navbar .navlinks ul li.active a {
    color: #ffd700;
    font-weight: 600;
}

.navbar .menu-btn {
    filter: invert(100%);
    display: none;
    position: absolute;
    top: 25px;
    right: 20px;
    width: 50px;
} */
nav {
    position: fixed;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(56, 56, 56, 0.274);
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    height: 20px;
    width: 100%;
    z-index: 1000;
}

nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    display: inline;
    margin: 0 25px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: #f7ba36;
    transition: ease-in-out 0.3s;
}

.logo {
    width: 200px;
    filter: invert(100%);
}

.logo:hover {
    filter: invert(73%) sepia(79%) saturate(683%) hue-rotate(359deg) brightness(102%) contrast(109%);
    /* transition: ease-in-out 0.5s; */
}

.menu-btn {
    width: 50px;
    filter: invert(100%);
    display: none;
}

.btns {
    background-color: rgb(233, 182, 14);
    border-color: gold;
    color: white;
    padding: 20px;
    font-weight: 600;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
    ;
    /* border-style: solid; */
    border-radius: 2px;
    transition: background-color 0.3s ease
}

.btns:hover {
    background-color: gold;
    border-color: white;
}

.modal {
    background-color: black;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.open {
    background: rgba(56, 56, 56, 0.274);
    backdrop-filter: blur(10px);
    opacity: 1;
    z-index: 1999;
}

.modal-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1f1a11;
    /* border-radius: 5px; */
    box-shadow: 0 1px 4px black;
    padding: 15px 25px;
    text-align: center;
    width: 380px;
}

.modal-inner h2 {
    margin: 0;
    color: #ececec;
    font-size: 2rem;
}

.modal-inner p {
    color: whitesmoke;
    font-weight: 100;
    line-height: 1.8rem;
    margin: 10px 0;
}

.modal-inner .btn {
    margin-top: 2rem;
    border-radius: 2px;

    width: 1rem;
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    min-height: 100%;
    min-width: 100%;
}


/* .home {
    min-height: 100vh;
    padding: 10rem 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
} */

.home {
    height: 600px;
    padding: 20px;

}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* justify-content: space-between; */
    text-align: left;
}

.home-content h1 {
    font-size: 8rem;
    font-weight: 300;
    color: white;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-content h3 {
    margin: 1rem 0;
    color: white;
    font-size: 3rem;

}

.home-content p {
    margin-bottom: 2rem;
    color: white;
    line-height: 1.8;
}

.home .buy-btn {
    /* display: inline; */
    padding: 1rem 2rem;
    background-color: #cc9d1a;
    border-radius: 0;
    color: white;
    font-size: 1.2;
    font-weight: 600;
}

.home-img {
    object-fit: cover;
}

.add-to-cart-btn {
    border-radius: 0;
    border-style: none;
    background-color: #cc9d1a;
}

#parfums {

    height: 100vh;
    /* width: 100vw; */

    /* Full viewport height for each section */
    /* background-image: url(/img/test1.jpg); */
    background-size: cover;
    /* margin-top: 300px; */
    /* Space for fixed navbar */
    background-image: url(img/BackGrounds/tes222.jpg);
    background-size: cover;
}

.featured-perfumes {
    padding: 4rem 2rem;
}

.featured-perfumes h2 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 2rem;
    border-radius: 10px;
    border-style: double;
    border: #cc9d1a;
    color: white;
    padding: 10px 20px;
    /* background: rgba(56, 56, 56, 0.274); */
    background: rgba(131, 122, 122, 0.685);
    backdrop-filter: blur(7px);
}

.product-item {
    background-color: rgba(221, 199, 199, 0.514);
    backdrop-filter: blur(15px);
    /* border-radius: 0.5rem; */
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
    transition: transform 0.3s ease;
}

.product-item:hover {
    transform: translateY(-0.5rem);
}

.product-item img {
    object-fit: contain;
    margin-bottom: 1rem;
}


.product-item img {
    height: 200px;
    width: 100%;
}

.product-item h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.product-item p {
    color: #05080c;
    font-size: 0.875rem;
}

.product-item .price {
    font-size: 1.25rem;
    font-weight: 600;
    color: #ececec;
}

.product-item div p {
    font-weight: bolder;
    text-align: left;
    margin-bottom: 0rem;
    color: #cf1212;
}

.product-item .btns {
    padding: 10px 20px;
}


.footer {

    display: flex;
    flex-direction: column;
    /* position: absolute; */
    width: 100vw;
    /* margin-top: 2rem; */
    padding: 20px;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(7px);
    background: rgba(56, 56, 56, 0.274);
    color: #fff;
    text-align: center;
}

.footer p.author {
    font-weight: 300;
    margin-top: 1em;
}

.social-icons {
    display: flex;
    justify-content: center;

}

.social-icons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.social-icons a:hover {
    background-color: #cc9d1a;
    transition: 0.5s;
}

.social-icons a i {
    font-size: 2em;
    padding: 1px 3px;
    color: #cc9d1a;
    /* opacity: 0.9; */
}

.social-icons a i:hover {
    color: white;
    transition: 0.5s;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #eba207;
}

::-webkit-scrollbar-track {
    background-color: black;
}

@media screen and (max-width: 900px) {
    ::-webkit-scrollbar {
        display: none;
    }

    /* .navbar .logo {
        position: absolute;
        top: 25px;
        left: 25px;
    }

    .navbar .menu-btn {
        display: block;
    }

    .navlinks {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(26, 25, 25, 0.247);
        backdrop-filter: blur(5px);
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        transition: all 0.5s ease;
    }

    .menu-btn {
        margin-left: -100%;
    }

    .navlinks ul {
        background-color: #cc9d1ab9;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .navlinks ul li {
        margin: 25px 0;
        font-size: 1.5rem;
*/
    nav {
        position: fixed;
        top: 0;
    }

    nav ul {
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: rgba(26, 25, 25, 0.678);
        backdrop-filter: blur(5px);
        gap: 0px;
        overflow: hidden;
    }

    nav ul li {
        padding: 20px;
    }

    .menu-btn {
        display: block;
    }


    .slider-container {
        flex-direction: column;
    }

    .slider-container img {
        width: 100%;
    }

    .video-bg {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        object-fit: cover;
        /* min-height: 100%; */
        /* min-width: 100%; */
    }

    .slider-img.active {
        width: 200px !important;
        height: 750px !important;
    }
}